% medals = data["medal"]
% for key, value in medals.items():
%medal_link = "http://khuxbot.com{}".format(value["image_link"])
<img src="{{medal_link}}" width=250 height=250>
<ul>
%for key2, value2 in value.items():
<li><strong>{{key2}}</strong>: {{value2}}</li>
%end
</ul>
% end
